*{
  font-family: 標楷體;
}

body{
  background-color: #D3D3D3
}

nav a {
    color: inherit; 
    text-decoration: none;
    font-size: 20px;
    display: table;
    padding: 20px;
}
ul {
    list-style: none;
    background-color: #000000;
    margin: 0;
    padding: 0;
    list-style-type:none;
　　margin:0px;
}
nav a:hover {
    background-color: #000000;
    color: white;
} 
.b-nav{
    display: flex;
    justify-content: space-evenly;
    z-index: 10;          
  position: fixed;      
  top: 0;
  left: 0;
  margin-top: 0;
  min-width: 100%;
  opacity: 0.94;
  transition: opacity .5s ease-out; 
}

